* {
  margin: 0;
  padding: 0;
  font-family: Jost;
}

/* Header Styles */
header {
  background-color: #ffffff;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: rgba(244, 4, 105, 1);
}

.sign-in {
  font-family: Jost;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}

/* Hero Section Styles */
.hero {
  background-image: url("./Images/Preset.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.hero h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  margin-bottom: 5rem;
}

.hero-content {
  max-width: 600px;
}

.search-container {
  position: absolute;
  left: 21.74%;
  right: 21.67%;
  top: 51.59%;
  bottom: 37.3%;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 56px;
  background-color: white;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-bar .location-icon {
  width: 24px;
  height: 24px;

  background-size: contain;
  margin-left: 16px;
}

.search-bar input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 0;
  outline: none;
}

.search-bar button {
  height: 100%;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  border: none;
  background-color: #ff007f;
  color: white;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

.taste {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 60px 20px;
}

.taste h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}

.taste p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}

.taste button {
  padding: 10px 20px;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;

  border: none;
  background-color: #ff007f;
  color: white;
  cursor: pointer;
  border-radius: 28px;
  margin-top: 2rem;
}

.content {
  width: 400px;
  margin-left: 5rem;
}

.popular {
  width: 80%;
  margin: auto;
}

.popular h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  margin-bottom: 2rem;
}

.restaurants {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
}

.restaurant-left img {
  max-height: 616px;
  max-width: 400px;
}

.restaurant-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.restaurant-paragraph {
  display: flex;
  align-content: center;
}
.restaurant-card img {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.price-div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}

.service-work {
  width: 70%;
  margin: auto;
  margin-top: 8rem;
}

.service-work h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  margin-bottom: 5rem;
}

.step-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.step h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: rgba(244, 4, 105, 1);
}

.step p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.service-work .step {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.service-work .icon-bg {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: url("./Images/bg-pink.png") no-repeat bottom;
  background-size: cover;
  border-radius: 50%;
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-bg img {
  margin-top: -10px;
}
.service-work .step img {
  width: 60px;
  height: 60px;
}

.service-work .step h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Jost", sans-serif;
}

.service-work .step p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.app-download {
  width: 80%;
  margin: auto;

  background: url("./Images/Background.png") no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 20px;

  border-radius: 20px;
  margin-top: 8rem;
}

.content {
  width: 50%;
}

.content h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}
.app-download .buttons {
  display: flex;
  gap: 20px;
}

.app-download button {
  padding: 15px 30px;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;

  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);

  margin-top: 2rem;
}

.app-download button.download {
  background-color: rgba(40, 54, 70, 1);
  color: white;
}

.app-download button.browse {
  text-decoration: none;
  color: #fdfdfd;
}
.app-download button.browse {
  background: transparent;
  color: rgba(255, 255, 255, 1);
}
.testimonial-container {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
}

.testimonial-container h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  margin-bottom: 1rem;
}

.testimonial p {
  margin: auto;
  max-width: 50rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
}

.slider-container {
  display: flex;
  gap: 1rem;
  width: 65%;
  margin: auto;
  margin-top: 2rem;
  height: 343px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: url("./Images/Rectangle.png") no-repeat center;
}

.slider p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: #fdfdfd;
  padding: 0px 6rem;
}
.slider > div {
  text-align: center;
}

.slider > div > img {
  border-radius: 50%;
  margin-top: 2rem;
}

.slider h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: rgba(244, 4, 105, 1);
  margin-top: 2rem;
}

.client-container {
  width: 65%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

footer {
  background: url("./Images/Background\ \(1\).png") no-repeat bottom;
  color: white;
  position: relative;
  margin-top: 5rem;
}

.footer-container {
  width: 90%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.footer-navbar {
  display: flex;
  text-decoration: none;
  gap: 3rem;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.85);
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  margin-left: 4rem;
}

.footer-address {
  color: rgba(0, 0, 0, 0.85);
  padding-top: 5rem;
}

.footer-address div {
  margin-top: 25px;
}
